:root {
	--primary-transition: linear;
}

body {
	background: var(--primary);
	color: var(--secondary);
}

* {
	animation: 300ms fadeIn var(--primary-transition);
	transition: 300ms var(--primary-transition);
}
