:root {
	--primary-transition: linear;

	--window-width: 600px;
	--window-height: 600px;
}

body {
	margin: 0;
	background: var(--primary);
	color: var(--secondary);
}

* {
	animation: 300ms fadeIn var(--primary-transition);
	transition: 150ms var(--primary-transition);
}

.hidden { display: none }

.fadeIn {
	animation: 300ms fadeIn var(--primary-transition);
}

.flex {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	align-content: center;

	width: 100%;
}
