div[data-slide-name] {
    max-width: 800px;
    margin: 1% auto;
}

img {
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    background-color: var(--tertiary);
    animation: 300ms var(--primary-transition) fadeIn;
}

iframe {
    height: 400px;
    width: 100%;
}