<div class="shortcuts" data-template="shortcuts">
    <style>
        .shortcuts table {
            width: var(--window-width);
            text-align: left;
            border-collapse: collapse;
        }

        thead {
            width: 100px !important;
        }

        thead th {
            width: 50%;
            padding: 10px 20px;
            background: var(--tertiary);
        }

        tr td {
            padding: 10px 20px;
        }

        tr:nth-child(even) {
            border-top: 2px solid var(--tertiary);
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Placeholder</td>
                <td><kbd>Ctrl+Placeholder</kbd></td>
            </tr>
        </tbody>
    </table>
</div>