<div class="hidden toolbar" data-template="toolbar">
	<style>
		.toolbar {
			opacity: 0.1;
			width: var(--window-width);
			height: calc(var(--window-height) / 25);
			bottom: calc(var(--window-height) / 30);
			left: calc(var(--window-width) / 90);
			position: fixed;
			animation: none !important;
		}

		.toolbar:hover {
			opacity: 1;
			transition: 150ms var(--primary-transition);
		}

		nav * {
			font-size: calc(var(--window-width) / 40);
			margin: 0 !important;
			padding: 0;
			cursor: pointer;
			transition: none;
		}

		nav *:hover {
			color: var(--highlight);
			transition: 150ms var(--primary-transition);
		}

		.toolbar:not(:hover),
		nav *:not(:hover) {
			transition: 150ms var(--primary-transition)
		}
	</style>
	<nav>
		<a id="toolbar-settings">&#x2699;</a>
		<a id="toolbar-theme">&#9681;</a>
		<a id="toolbar-shortcuts">⌨</a>
	</nav>
	<script src="core/templates/toolbar.js"></script>
</div>